.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.grid {
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}
.footer {
  text-align: center;
}

.info a:hover {
  color: #565656;
}

.images img:hover {
  opacity: .5;
}

.info a {
  text-decoration: underline;
}

.title {

}

.subtitle {

}
.subtitle h2{
  font-weight: normal;
}

.center {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.info {
  padding-top: .5em;
  font-size: 1.1em;
}

.images {
  padding-top: .5em;
}

.images img {
  margin-right: 15px;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
