.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(1.25rem, 6vw, 6rem);
  min-height: 100vh;
}

.footer {
  text-align: center;
}

.info a:hover {
  color: #565656;
}

.images img:hover {
  opacity: 0.5;
}

.info a {
  text-decoration: underline;
}

.subtitle h2 {
  font-weight: normal;
}

.center {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: clamp(1.5rem, 6vw, 4rem) 0;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.info {
  padding-top: 0.5em;
  font-size: 1.1em;
}

.images {
  padding-top: 0.5em;
}

.images img {
  margin-right: 15px;
}
