html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

html,body {
  height:100%;
}

#container{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 820px;
  height: auto;
  /*
  background-image: -ms-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  B
  background-image: -moz-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -o-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(1, #c0c0c0));
  background-image: -webkit-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: linear-gradient(to top, #787878 0%, #c0c0c0 100%);
  */
}

#container #header{
  height: 60px;
  background-color: #C0C0C0;
}

#container #header p{
  font-size: 26px;
  /* Change this somehow */
  font-family: Georgia, serif;
  font-weight: bold;
  padding-top: .6em;
  padding-left: 4em;
  text-transform: uppercase;
}

#container #contents{
  height: auto;
}

#container #footer{
  float: left;
  width: 820px;
  background-color: #787878; /*#D0D0D0*/
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

#container #footer p{
  color: #ffffff;
}

#container #contents #pagecontent{
  /*
  background-color: #707070;
  */
  /*
  opacity: .5;
  */

  /*
  background-image: -ms-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -moz-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -o-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(1, #c0c0c0));
  background-image: -webkit-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: linear-gradient(to top, #787878 0%, #c0c0c0 100%);
  */
  /*
  padding-top: .5em;
  padding-bottom: .5em;
  */
  float: left;
  width: 700px;
  height: auto;
}

#container #contents #pagecontent p{
  padding-top: .5em;
  padding-left: 1.5em;
  padding-right: 1em;
}

#container #contents #pagecontent p.title{
  font-weight: bold;
  font-size: 1.7em;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: 1em;
}

#container #contents #pagecontent p.indent{
  padding-top: .5em;
  padding-left: 2.5em;
  padding-right: 1em;
}

#container #contents .slider{
  width: 700px;
  overflow: hidden;
  position: relative;
}

#container #contents .slider > ul{
  position: relative;
  -webkit-transition: .5s left;
  -moz-transition: .5s left;
  -ms-transition: .5s left;
  -o-transition: .5s left;
  list-style: none;
  padding: 0;
  margin: 0;
}

#container #contents .slider > ul > li{
  float: left;
  width: 700px;
  padding-bottom: .5em;
}

#container #contents #leftNav {
  float: left;
  width: 100px;
}

#container #contents #leftNav > ul {
  width: 100%;
  list-style: none;
  background-image: -ms-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -moz-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -o-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(1, #c0c0c0));
  background-image: -webkit-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: linear-gradient(to top, #787878 0%, #c0c0c0 100%);
  padding-top: 2em;
  padding-bottom: 1em;
}

#container #contents #leftNav > ul >li{
  margin-bottom:1em;
  text-align: center;
  background-color: #404040;
  -moz-border-radius: 15px 0px 0px 15px;
  border-radius: 15px 0px 0px 15px;
  padding-top: .5em;
  padding-bottom: .5em;
}

#container #contents #leftNav > ul > li > a{
  text-decoration: none;
  color: #ffffff;
  display: block;
}

#container #contents #leftNav > ul > li:hover{
  margin-left: -1em;
  /*make this work in ie*/
}

/*
 * Make the active one a different color
 */
#container #contents #leftNav > ul > li:active{
  color: #ffffff;
}

#container #contents #right {
  float: left;
  width: 20px;
  background-image: -ms-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -moz-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -o-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(1, #c0c0c0));
  background-image: -webkit-linear-gradient(bottom, #787878 0%, #c0c0c0 100%);
  background-image: linear-gradient(to top, #787878 0%, #c0c0c0 100%);
}
