body {
    background-image: url("/small_steps.png");
}

.container {
    width: 900px;
    height: auto;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.homeContainer {
    height: 100%;
    width: 100%;
}

.content {
    width: 800px;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 30px;
    width: 30px;
    margin: 5px;
}

h1 {
    font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    font-style: normal;
    font-size: 70px;
}

p.subtitle {
    font-size: 25px;
    padding-bottom: 20px;
}

p.text {
    text-align: center;
}

.text {

    padding: 15px;
}
